* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.banner {
  width: 100%;
  position: relative;
}
.banner img {
  width: 100%;
  position: absolute;
  left: 0;
  top:0;
}
